header {
  @include padding(20px);
  text-align: center;
  .icon {
    color: $icon-color;
    font-size: $icon-font-size;
    line-height: 4;
  }
  .icon:hover {
    color: $icon-hover;
  }
  .left {
    @include span-columns(4);
  }
  .center {
    @include padding(40px null null null);
    @include span-columns(4);
  }
  .right {
    @include span-columns(4);
  }
}
