.hidden {
  visibility: hidden;
}
.modal {
  box-sizing: content-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  text-align: center;
  .modal-header {
    background-color: white;
    @include outer-container();
  }
  .modal-content {
    @include outer-container();
    background-color: white;
  }
  .modal-header {
    padding-top: 20px;
    .icon {
      padding-right: 20px;
      float: right;
      font-size: 50px;
      color: black;
      cursor: pointer;
    }
    .icon:hover {
      color: grey;
    }
  }
  img {
    width: 90%;
  }
}
