.hidden {
  visibility: hidden;
}
.modal {
  box-sizing: content-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  color: #272b34;
  font-size: 1rem;
  z-index: 9999;
  .modal-content {
    box-sizing: content-box;
    position: relative;
    width: 699px;
    margin: 0 auto;
    margin-bottom: 4%;
    padding: 22.5px 30px;
    background-color: #F3F4F7;
    border-radius: 4px;
  }
}
