body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
.jumbo {
  font-family: $introduction-font-family;
  color: $medium-gray;
  p {
    color: $light-gray;
  }
}
.info,
.collection,
.case-study {
  h1 {
    font-family: $number-font-family;
    color: $light-gray;
  }
  h3 {
    font-family: $title-font-family;
    color: $dark-gray;
    text-transform: uppercase;
  }
  p,
  li {
    font-family: $body-font-family;
    color: $medium-gray;
  }
}
.portfolio {
  p {
    text-align: center;
    text-transform: uppercase;
  }
}
footer {
  font-family: $number-font-family;
  color: $light-gray;
}
.social {
  a {
    color: $dark-gray;
    text-decoration: none;
    font-size: $icon-font-size;
    @include padding(null 10px null 10px);
  }
}
