// Import Fonts
@include font-face("AGaramondPro-Regular", "/fonts/AGaramondPro-Regular", $file-formats: eot otf svg ttf woff);
@include font-face("DIN-Bold", "/fonts/DIN-Bold", $file-formats: eot svg ttf woff);
@include font-face("DIN-Regular", "/fonts/DIN-Regular", $file-formats: eot svg ttf woff);
@include font-face("Roboto-Regular", "/fonts/Roboto-Regular", $file-formats: eot svg ttf woff);

// Typography
$number-font-family: "DIN-Regular";
$title-font-family: "DIN-Bold";
$body-font-family: "Roboto-Regular";
$introduction-font-family: "AGaramondPro-Regular";

// Font Sizes
$base-font-size: 1em;
$icon-font-size: 26px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #464646;
$medium-gray: #8A8A8A;
$light-gray: #A2A2A2;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
